# Ignore build results and temporary files
/bin/
/obj/
/PastBeam.Application/obj/
/PastBeam.Core/obj/
/PastBeam.Infrastucture/obj/
/PastBeam.Presentation/obj/
/PastBeam.Tests/obj/

# Ignore environment variable files
.env

# Ignore .vs config
.vs/
/PastBeam.Infrastructure/obj/Debug/net8.0
/PastBeam.Application/bin/Debug/net8.0

# ignore doc folder
/Documentation
/PastBeam.Application1/obj
/PastBeam.Application.Library/obj/Debug/net8.0
/PastBeam.Application.Library/obj
/PastBeam.Infrastructure.Library/obj
/PastBeam.Core.Library/obj
/PastBeam.Presentation/PastBeam.Presentation.csproj.Backup.tmp
/PastBeam.Application.Library/bin/Debug/net8.0
/PastBeam.Core.Library/bin/Debug/net8.0
/PastBeam.Infrastructure.Library/bin/Debug/net8.0
/PastBeam.Presentation/bin/Debug/net8.0
*.txt
/PastBeam.Presentation/appsettings.json
*.trx
/build.log
