@model PastBeam.Application.Library.Dtos.ForgotPasswordDto

@{
    ViewData["Title"] = "Forgot Password";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter your email" required />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
