@model List<PastBeam.Core.Library.Entities.Folder>

<h2>All Articles</h2>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var folder in Model)
        {
            <li>
                <h3>@folder.Name</h3>
            </li>
        }
    </ul>
}
else
{
    <p>No articles available.</p>
}
