@model IEnumerable<PastBeam.Core.Library.Entities.Article>

    <h2>Articles</h2>

    <ul>
        @foreach (var article in Model)
    {
        <li>
            <a asp-action="Details" asp-route-id="@article.Id">@article.Title</a> - @article.CreatedAt.ToShortDateString()
        </li>
    }
    </ul>
