@model PastBeam.Presentation.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>

<div class="forgot-password-container">
<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary submit-button">Send Reset Link</button>
</form>
</div>

<style>
    .forgot-password-container{
        height: 90%;
        margin: 1%;
        background: white;
        border-radius: 5px;
    }

    .submit-button{
        padding: 6px 12px;
        width: 100%;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .submit-button:hover{
        background-color: #007bff;
        color: white;
    }
</style>
